<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://placehold.co/600x400/EEE/31343C" 
            alt="" 
            height="200px"
            width=""
            srcset="">
    </div>
    <div class="big-card__title">
        <h1>Saiu a nova versao do Angular</h1>
    </div>
    <div class="big-card__description">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur repudiandae laborum corrupti quod eaque quibusdam commodi, eius incidunt inventore laudantium tempora quis maiores nihil aliquid deleniti voluptates animi ducimus mollitia.
        </p>
    </div>
</div>